.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding: 20px 40px 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  height: 60px;
}

/* .title {
      font-size: 24px;
      color: #333;
      font-weight: bold;
    } */

.login-button {
  padding: 10px 20px;
  background-color: #99daff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 60px;
  width: 140px;
  font-size: 24px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #99daff;
}
